.rank.title {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
    color: white;
    transform: translate(0, 0);
}

.title-icon {
    margin-left: 10px;
    cursor: pointer;
}

.select-con {
    background-color: #222733;
}

.selec-con_fff {
    background-color: #fff;
}

.arr-left {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%) !important;
    cursor: pointer;
    color: white;
}

.arr-right {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%) !important;
    cursor: pointer;
    color: white;
}

.cat-name {
    position: absolute;
    left: 80%;
    bottom: 20px;
    color: white;
}